<table class="table" *ngIf="store.getCartList.length>0">
  <thead>
    <th>Ürün Adı</th>
    <th>Ürün Fiyatı</th>
    <th>Ürün Adedi</th>
    <th>Toplam Fiyat</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let cart of store.getCartList">
      <td>{{cart.product!.productName}}</td>
      <td>{{cart.product!.unitPrice |currency}}</td>
      <td>{{cart.quantity}}</td>
      <td>{{cart.product!.unitPrice*cart.quantity |currency }}  </td>
      <td><button type="button" (click)="removeCart(cart.product)" class="btn btn-outline-dark btn-sm">Sepeten Çıkart</button> </td>
    </tr>
  </tbody>
</table>


<h4 *ngIf="store.getCartList.length>0">Genel Toplam : {{store.cartTotal |currency}}</h4>

<div *ngIf="store.getCartList.length==0" class="alert alert-warning">
  Sepetinizde Ürün Bulunmamaktadır!
</div>



