<div class="content">

  <div class="card">
    <div class="card-header">
      Ürün Ekle
    </div>
    <div class="card-body">
    
      <form [formGroup]="productAddForm" (ngSubmit)="createProductAddForm()">

        <div class="mb-3">
          <label for="ProductName" class="form-label">Ürün İsmi</label>
          <input type="text" formControlName="ProductName" id="ProductName" class="form-control" placeholder="Ürün Adı" />
          <div class="d-block invalid-feedback" *ngFor="let error of errorList |errorName:'ProductName' ">
            <strong>{{error.ErrorMessage}}</strong></div> 
        </div>
    
        <div class="mb-3">
          <label for="CategoryId" class="form-label">Kategori</label>
          <input type="number" formControlName="CategoryId" id="CategoryId" class="form-control" placeholder="Kategori" />
        </div>
    
        <div class="mb-3">
          <label for="QuantityPerUnit" class="form-label">Açıklama</label>
          <input type="text" formControlName="QuantityPerUnit" id="QuantityPerUnit" class="form-control" placeholder="Açıklama" />
        </div>
    
        <div class="mb-3">
          <label for="UnitPrice" class="form-label">Fiyat</label>
          <input type="number" formControlName="UnitPrice" id="UnitPrice" class="form-control" placeholder="Fiyat" />
          <div  class="d-block invalid-feedback" *ngFor="let error of errorList |errorName:'UnitPrice'">
            <strong>{{error.ErrorMessage}}</strong></div>
        </div>
    
        <div class="mb-3">
          <label for="UnitsInStock" class="form-label">Stok</label>
          <input type="number" formControlName="UnitsInStock" id="UnitsInStock" class="form-control" placeholder="Stok" />
        </div>

        <button type="button" class="btn btn-dark" (click)="add()" [disabled]="!productAddForm.valid" >EKLE</button>

      </form>
    </div>
  </div>
</div>


