<ul class="list-group">
  <li routerLink="products" class="list-group-item" (click)="getAllProductClass()">Tüm Ürünler</li>
  <li (click)="setCurrentCategory(category)"
  routerLink="products/{{linkHelper(category.categoryName)}}-{{category.categoryId}}"
  [class]="getCurrentCategoryClass(category)"
  *ngFor="let category of categories">
    {{category.categoryName}}
  </li>
</ul>

<h5 *ngIf="currentCategory" class="mt-3">{{currentCategory.categoryName}}</h5>
