<div class="row justify-content-center">
  <div class="spinner-border text-primary" role="status" *ngIf="!dataLoaded">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="mb-3">
  <label for="filter-text" class="form-label">Ürün Ara</label>
  <input type="text" class="form-control" [(ngModel)]="filterText" id="filter-text" placeholder="Arama ifadesi giriniz">
</div>

<div *ngIf="filterText.length>2" class="alert alert-primary">
{{filterText}} Aradınız
</div>

<table class="table" *ngIf="dataLoaded">
  <thead>
    <th>Ürün id</th>
    <!-- <th>Kategori id</th> -->
    <th>Ürün Adı</th>
    <th>Ürün Fiyatı</th>
    <th>Kadeveli fiyat</th>
    <th>Ürün Stok</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | productName:filterText ">
      <td>{{product.productId }}</td>
      <!-- <td>{{product.categoryId }}</td> -->
      <td>{{product.productName |uppercase }}</td>
      <td>{{product.unitPrice |currency }}</td>
      <td>{{product.unitPrice |vatAdded:18 |currency }}</td>
      <td>{{product.unitsInStock}}</td>
      <td> <button type="button" (click)="addToCart(product)" class="btn btn-outline-dark btn-sm">Sepete Ekle</button></td>
    </tr>
  </tbody>
</table>
