<main class="form-signin text-center">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <img class="mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Giriş Yap</h1>
  
    <div class="form-floating">
      <input type="text" class="form-control" formControlName="email" id="email" placeholder="onur@gmail.com">
      <label for="email">Email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" formControlName="password" id="password" placeholder="Parola">
      <label for="password">Parola</label>
    </div>

    <!-- {{loginForm.value|json}}
    {{loginForm.status|json}} -->

    <small *ngIf="myForm.email.errors?.required && (myForm.email.touched || myForm.email.dirty)" class="text-danger d-block">Email Adresi Boş Geçmeyiniz</small>
    <small *ngIf="myForm.email.errors?.email && (myForm.email.touched || myForm.email.dirty)" class="text-danger d-block">Email Adresi Geçersiz</small>
    <small *ngIf="myForm.password.errors?.required && (myForm.password.touched || myForm.password.dirty)" class="text-danger d-block">Parola Boş Geçmeyiniz</small>
    <small *ngIf="myForm.password.errors?.minlength && (myForm.password.touched || myForm.password.dirty)" class="text-danger d-block">Parola En Az 4 Karakter Olmalıdır.</small>
  
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Beni Hatırla
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" [disabled]="!loginForm.valid" >Giriş Yap</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>

</main>
