<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Northwind SPA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="product" routerLinkActive="active">Ürünler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="product-add" routerLinkActive="active">Ürün Ekle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cart" routerLinkActive="active">Sepet</a>
        </li>
      </ul>

      <div *ngIf="!isAuthenticated">
        <fa-icon [icon]="faSignInAlt" routerLink="giris" style="cursor:pointer;"></fa-icon>
        <span style="margin:0px 5px;cursor:pointer;" routerLink="giris">Giriş</span>
      </div>

      <div *ngIf="isAuthenticated">
        <fa-icon [icon]="faSignOutAlt" routerLink="giris" style="cursor:pointer;" (click)="logout()"></fa-icon>
        <span style="margin:0px 5px;cursor:pointer;" routerLink="giris" (click)="logout()">Çıkış</span>
      </div>

      <div>
        <fa-icon [icon]="faShoppingCart" routerLink="cart" style="cursor:pointer;"></fa-icon>
        <span style="margin:0px 5px;">{{store.cartTotal |currency}}</span>
      </div>

    </div>
  </div>
</nav>